.clock {
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2rem;
  color: var(--DM-white);
}
.date {
  font-size: 1.0rem;
}
.time {
  font-size: 1.8rem;
}